{{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<h2>What is SleepLog?</h2>

<!--TODO: Research lucid dreaming topics and have a table of contents for information 
        and find a better way to organize information. -->
<p>
SleepLog is an online dream journal where oneironauts (people who explore dream worlds)
can write down their dreams. Many oneironauts choose to write down their dreams in order
to improve their dream recall and recognize recurring dream signs that over time indicate 
to the dreamer that they are in fact dreaming, which can trigger lucid dreaming. 
</p>
<hr>
<h3>
    The two main cateogories of dreaming:
</h3>
<p><b>Lucid Dreaming</b><br>
Lucid dreaming refers to awareness that one is dreaming, allowing the dreamer to do in their dream
what they could never do in their waking life, like flying and breathing underwater.
<br>
<b>Normal Dreaming</b><br>
Normal dreaming is the opposite from normal dreaming. Normal dreaming means that we are dreaming and have no awareness that it is in fact a dream. Normal dreaming would not have personal control over what happens in a dream like lucid dreaming does.
</p>
<hr>
<p>
Through SleepLog, we will be able to share our dreams with others. Currently, we categorize our posts for normal dreams and lucid dreams. Our online chatting feature will allow users to give input, respond, and relate to each other's dreams.
<br>
<b>Want to write your dreams but don't want to share it?</b> We have a private post option just for you!   
</p>
<hr>
<h4>
    In this Application we have features to share our dreams and thoughts:

</h4>
<p>
    <ul>
    <li>Dream Journal Posts</li>
    <li>Live, Real-time messaging to everyone on SleepLog</li>
</ul>
<br><br><br><br><br>
</p>
