{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<h2>What is SleepLog?</h2>

<!--TODO: Research lucid dreaming topics and have a table of contents for information 
        and find a better way to organize information. -->
<p>
SleepLog is an online dream journal where oneironauts (people who explore dream worlds)
can write down their dreams. Many oneironauts choose to write down their dreams in order
to improve their dream recall and recognize recurring dream signs that over time indicate 
to the dreamer that they are in fact dreaming, which can trigger lucid dreaming. Lucid 
dreaming refers to awareness that one is dreaming, allowing the dreamer to do in their dream
what they could never do in their waking life, like flying and breathing underwater...

</p>
