{{extend 'layout.html'}}
<h2>SleepLog FAQ</h2>

<p>
    <b>What can I post?</b>
    You can post whatever you would like. SleepLog is a diary for your dreams!    
</p>
<p>
    <b>Who can see my posts?</b>
    We have two settings: public and private. You can choose to share your dream or keep it private and use SleepLog as your personal diary!
</p>
<p>
    <b>What kinds of dreams are there?</b>
    There is lucid dreaming and normal dreaming. These dreams differ by if you have conciousness or not.
</p>
<p>
    <b>What are the cateories in the dream diary?</b>
    For your convenience, SleepLog has categories for you to organize your dreams and to search for other dreams that could be similar to yours.
</p>
<p>
    <b>Where can I find more information about the types of dreams I am having?</b>
    Please refer to our references page.
</p>


{{=BEAUTIFY(response._vars)}}
