{{left_sidebar_enabled=False,right_sidebar_enabled,=False,('message' in globals())}}
{{extend 'layout.html'}}

<h2>Today's dreams...</h2>
<!-- I'm using tables to create sections, you can even just have two if you wanted
feel free to mess around with the width and add more/less with the td 
p.s. the colors are not final, so feel free to change-->
{{block center}}
<table width="100%" border="0px" >
  <tr valign="top">
    <!-- This is for the center area, you can adjust height h/e you want, but auto will scale accordingly -->
    <td bgcolor="#C3BFFF" height="auto" width="40%">
            {{=new_entry_btn}}
	    {{=grid}}
    	</td>
	</tr>
<table>
    {{end}}

<!-- I'll be lazy with the js here for now, but it's best to keep in own .js file -->

<script type="text/javascript">

// This uses the name defined in img
var mycloudobj = document.images["cloudbutton"];
var mystarobj = document.images["starbutton"];

function changeImage()
{
document.images["starbutton"].src= "/SleepLog/static/images/star2.png";
return true;
}
function changeImageBack()
{
 document.images["starbutton"].src = "/SleepLog/static/images/star.png";
 return true;
}


</script>
