{{left_sidebar_enabled=True,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h2>Statistics</h2>


<div class="top_tags">
<h3>Top 5 tags</h3>
<ol>
{{if tag1 is not None:}}
<li>{{=tag1}}</li>
{{pass}}

{{if tag2 is not None:}}
<li>{{=tag2}}</li>
{{pass}}

{{if tag3 is not None:}}
<li>{{=tag3}}</li>
{{pass}}

{{if tag4 is not None:}}
<li>{{=tag4}}</li>
{{pass}}

{{if tag5 is not None:}}
<li>{{=tag5}}</li>
{{pass}}
</ol>
</div>

<meta charset="utf-8">
<style>

.chart div {
  font: 10px sans-serif;
  background-color: #935FA9;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


</style>
<div class="chart">
    <h3>Categories</h3>   
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var data = [{{=normal_count}}, {{=nightmare_count}}, {{=lucid_count}} ];

var x = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, 420]);

d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>


