<canvas id='snowing'> </canvas>

{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id ="viewable" >
<h1>Post</h1>

{{=form}}
{{if dreamCategory == 'Nightmare':}}

	<script type="text/javascript">

		//urlTest = "https://img1.etsystatic.com/023/0/6214610/il_570xN.480083485_26t5.jpg"
		//document.getElementById("viewable").style.color = "white";

		//var myNode = document.getElementById("viewable");
		//var tds = myNode.getElementsByTagName("td");

	    //for(var i = 0, j = tds.length; i < j; ++i)
	     //  tds[i].style.color = "white";

	//	$("#postcontents").css('background-image', 'url(' + urlTest + ')');
	//	$("#postcontents").css("background-size", "100% 100%");
		//other ways of background size is: 100% 100% by width/height, cover, or contain
	</script>

{{pass}}

{{if dreamCategory == 'Normal':}}
	<!-- This doesn't seem to work
	<script type="text/javascript" src="/static/js/starsCanvas.js"></script> -->
        <!--
	<script src="{{=URL('static','js/snowcanvas.js')}}"></script>
	<script type="text/javascript">
		document.body.style.backgroundColor = "#6b92b9";
		document.getElementById("viewable").style.color = "white";
	</script>
        -->

{{pass}}

<h2>method 1</h2>
<form id="myform">
	<input name="commentpost" id="commentpost" />
	<input type="submit" />
</form>

<p id="target2"></p>

 </div>

 <h2>method 2</h2>
{{=LOAD('default','post.load',ajax=True)}}


<p>
{{=A('Return', _class='btn',_href=URL('default','index'))}}
</p>

<script>
jQuery('#myform').submit(function() {
	ajax('{{=URL('new_post')}}', ['commentpost'], 'target2');
	return false;
});
</script>