
canvas {
	display: block;
	position: fixed;
	z-index: -1;
	/*I was told having z-index -1 is bad for certain browsers, but feel free to test*/
}
.btn{
	position: relative;
	z-index: 1;
        background: aliceblue;
}

#viewable {
	position: relative;
	z-index: 1;
}

#postcontents{
	background-repeat: no-repeat;
	/*Other options are: repeat, repeat-x, repeat-y, no-repeat*/
}
