body {
  background-image: url("../images/symphony/symphony.png");
}

canvas {
	display: block;
	position: fixed;
	z-index: -1;
	/*I was told having z-index -1 is bad for certain browsers, but feel free to test*/
}
.btn-grid{
	position: relative;
	z-index: 1;
       width   : 30px;

    background  : none;
    cursor  : pointer;

    color   : #fff;
    border  : none;
    margin      : 5px;
    padding     : 0px;
}

.btn-nav{
	-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ffc3b2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-nav2{
	-webkit-border-radius: 14;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ffc3b2;
  padding: 10px 20px 10px 20px;
   margin: 5px;

  text-decoration: none;
}



#viewable {
	position: relative;
	z-index: 1;
}

#postcontents{
	background-repeat: no-repeat;
	/*Other options are: repeat, repeat-x, repeat-y, no-repeat*/
}

table {
 table-layout:auto;
 width:100%;
 border-radius:1em;

}

table tr th,
table tr td{
 height:30px;
 overflow:hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
 border:0px solid blue;
 border-radius:1em;
}


div.navbar{
border:0px;
highet
}

navbar navbar-inverse{
border:0px;


}
div.navbar-inner{
border:0px;
}

#sidebar-wrapper{
 border-radius: 1em;
}

div.web2py_paginator{
 border-radius: 1em;

 margin-bottom: 3px;

}

